.nav-link.active {
  color: orangered !important;
  border: none !important;
  border-bottom: 1px solid orangered !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.nav-pills {
  background-color: transparent !important;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  border: none !important;
}
.slide-image {
  width: 100%;
}
.swipnav-main {
  position: relative;
}

@media screen and (max-width: 500px) {
  .nav {
  }
  .nav-item {
    width: 50px !important;
    font-size: 7px !important;
  }
  .nav-link {
    padding: 5px 11px !important;
    font-size: 7px !important;
  }
  .logo-image {
    width: 40px;
  }
  .slide-image {
    height: 400px;
  }
  .client-heading {
    font-size: 8px;
  }
  .welcome {
    font-size: 15px !important;
  }
  .lorem-text {
    font-size: 8px !important;
  }
  .learn-more-btn,
  .get-started-btn {
    font-size: 12px !important;
    padding: 5px 8px !important;
  }
  .inner-content-main {
    top: 23% !important;
    width: 72% !important;
  }
  .monitor-image {
    width: 80%;
  }
  .monitor-main {
    display: flex;
    justify-content: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
